<p id="notice"><%= notice %></p>

<h1>Your Projects</h1>


<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
        <th>Website</th>
        <th>Slack Channel</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |project| %>
        <tr>
          <td><%= link_to project.id, edit_dashboard_project_path(project) %></td>
          <td><%= project.name %></td>
          <td><%= project.status %></td>
          <td><%= project.description.try(:truncate, 100) %></td>
          <td><%= link_to "Visit", project.website, :class => "btn btn-primary btn-sm", :target => "_blank" %></td>
          <td><%= project.slack_channel %></td>
          <td><%= project.created_at.to_date %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>

<%= link_to 'New Project', new_dashboard_project_path, :class => "btn btn-success" %>
