<div class="container">
  <h1>Search Results</h1>
  <% @results.each do |type, res| %>
  <div class="row">
    <h3 class="mt-5"><%= type %></h3>
    <hr />
    <% if type != :users %>
      <% res.each do |obj| %>
        <div class="card w-100 mt-4">
          <div class="card-body">
            <h5 class="card-title"><%= link_to obj.name, [:dashboard, obj] %></h5>
            <p class="card-text"><%= obj.try(:description) %></p>
          </div>
        </div>

      <% end %>
    <% else %>
      <% res.each do |obj| %>
        <div class="card w-100 mt-4">
          <div class="card-body">
            <%= link_to "Recruit this User", dashboard_volunteerings_new_recruit_path(:temporary_token => obj.secure_token), class: "btn btn-success" %>
            <p class="card-text">Skills: <%= obj.skill_names_for_display %></p>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
  <% end %>
</div>

