<div class="container">

  <div id="modal-invalid-skill" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Invalid Skill</h4>
        </div>
        <div class="modal-body">
          <p>You can only add a skill that is already in our directory. If you think we have left out an important skill, please let us know at <a href="mailto:admin@progcode.org">admin@progcode.org</a> .</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">

  <% if !current_user.valid? %>
      <h1 class="text-center">User Profile</h1>

      <p class="lead text-danger text-center"> Although you have been accepted into ProgCode, you are not yet in our database. Please fill in this form to enter ProgBot.</p>
  <% else %>
      <h1 class="text-center">Edit your Profile</h1>
  <% end %>
    </div>
  </div>

<%= simple_form_for current_user, :url => dashboard_user_path, :method => :patch do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :is_approved %>

  <%= f.label :name, "Name: #{current_user.name}", :class => "control-label lead font-weight-normal" %>
  <%= f.hidden_field :name %>
  <br/>
  <%= f.label :email, "Email: #{current_user.email}", :class => "control-label lead font-weight-normal" %>
  <%= f.hidden_field :email %>
  <br/>
  <%= f.label :slack_username, "Slack Username: #{current_user.slack_username}", :class => "control-label lead font-weight-normal" %>
  <%= f.hidden_field :slack_username %>
  <hr />
  <%= f.input :anonymous, :hint => "I prefer to use an alias on the Slack for safety/privacy concerns. If checked, we will email you to arrange a mutually convenient time for a Zoom video call. Thank you!", :label => "I prefer to remain anonymous."  %>


  <%= f.input :verification_urls, :label => "Verification URLs", :hint => "(i.e., GitHub, personal website, personal blog, LinkedIn, Social Media, etc.)" %>

  <%= f.input :hear_about_us, :label => "How did you hear about us?", :hint => "This helps us determine which outreach efforts are most successful."  %>

  <%= f.input :join_reason, :label => "Why do you want to join the Progressive Coders Network?", :hint => "ProgCode is working to remove or reduce the influence of big money in politics by creating open source technology designed to empower the grassroots. Please tell us a little bit about yourself, what brought you to ProgCode and how you'd like to support these goals."  %>

  <%= f.input :overview, :label => "Skills and Relevant Experience (Tech or Non-Tech)",  :hint => "Just a quick rundown of the skills and experience you bring to the community. Are you a coder? Organizer? Accountant? A short list is great! We don't need an essay here."  %>

  <%= f.input :location,  :hint => "Be as general or as specific as you'd like, but please include a timezone or the country you reside in."  %>

  <%= f.input :tech_skill_names, :as => :string, :placeholder => "Type something...", :input_html => {:data => {:tokens => format_skills(resource.tech_skills), :typeahead_source => format_skills }}    %>

  <%= f.input :non_tech_skill_names, :as => :string, :placeholder => "Type something...", :input_html => {:data => {:tokens => format_skills(resource.non_tech_skills), :typeahead_source => format_skills(@non_tech_skills) }}    %>

  <%= f.input :phone, :hint => "If you'd like to be part of future texting programs, or get beta invites. Totally optional!"  %>

  <%= f.input :read_code_of_conduct, :label => "Have you read our Code of Conduct?",  :hint => "By checking this and submitting your registration, you are agreeing to abide to our Community Guidelines and Code of Conduct once you are part of the community. <br/> </br> #{link_to("http://progco.de/Guidelines")}".html_safe  %>
  <hr />

  <%= f.button :submit %>
  <hr />
<% end %>

<script type="text/javascript">
  Users.init_form()
</script>
