<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>ProgBot Dashboard</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ProgBot Dashboard</a>
      <%= simple_form_for :search, url: dashboard_search_path, html: { class: "w-100"}, method: :get do |f| %>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" name="q">
      <% end %>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/sign_out">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="<%= dashboard_base_index_path %>">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <%# <li class="nav-item">
                <a class="nav-link" href="<%= edit_dashboard_user_path %>
                  <%# <span data-feather="file"></span>
                  Profile
                </a>
              </li> %>
              <li class="nav-item">
                <a class="nav-link" href="<%= dashboard_projects_path %>">
                  <span data-feather="shopping-cart"></span>
                  Projects
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= dashboard_volunteerings_path %>">
                  <span data-feather="users"></span>
                  Volunteerings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= dashboard_skills_path %>">
                  <span data-feather="git-merge"></span>
                  Skills Directory
                </a>
              </li>
              <li class="nav-item">

                <a class="nav-link" href="<%= all_dashboard_projects_path %>">
                  <span data-feather="layers"></span>
                  All Projects
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <%= flash_div %>
          <%= yield %>
        </main>
      </div>
    </div>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
